@using controle_de_permissoes.Models.Entities.Orm
@model Permissao
@{
    ViewData["Title"] = "Confrimação de Exclusão";
}

<div class="container">
    <h3 class="display-4 text-center">Deseja realmente apagar o registro de @Model.Nome?</h3>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-primary" role="button" asp-controller="Permissao" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar</a>
    <a class="btn btn-danger" role="button" asp-controller="Permissao" asp-action="Index">Cancelar</a>
</div>